---
---
<!DOCTYPE html>
<html>
	<head>
  	<title>DB website</title>
		<meta name="description" content="to be provided">
		<!-- open graph  -->
		<meta property="og:title" content="to be provided" />
		<meta property="og:description" content="to be provided" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="to be provided" />
		<meta property="og:image" content="/assets/images/to be provided.png" />
		<!-- twitter  -->
		<meta name="twitter:description" content="to be provided" />

  	{% include head.html %}
	</head>
  <body>

		<div class="bd-navigation">
			<div><span class="number">1</span></div>
		</div>

		<div class="buttons">
				<a href="javascript:void(0)" class="button js-add-slide">Add Slide</a>
				<a href="javascript:void(0)" class="button js-remove-slide">Remove Slide</a>
			</div>

		{% include footer.html %}

		<script src="/assets/vendor/vendor.min.js"></script>
		<script src="/assets/js/app.js"></script>
  </body>
</html>

