---
---

@import 'vendors/normalize';
//******* GLOBALS
@import './globals/index';
//******* VENDORS

@import './vendors/slick';

//******* Layout
@import './header';
@import './footer';
@import './carousel';

// setup font styles
body {
  font-size: $font-size;
	// background-color: $body-bg;
	font-family: $font-family;
	color: $color-white;
}

html,
body,
.page {
  height: 100%; /* needed for proper lay */
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

.page {
  display: flex;
  flex-direction: column;
}

.page-header {
  flex: 0 0 auto;
  background-color: #3498db;
  height: 5vh;
  color: white;
  text-align: center;
  line-height: 5vh;
}

.page-content {
  flex: 1 1 auto;
  position: relative;
  overflow-y: hidden;
}

.page-footer {
  flex: 0 0 auto;
  background-color: #3498db;
  height: 10vh;
  color: white;
  text-align: center;
  line-height: 10vh;
}
